@{
    ViewBag.Title = "Error";
}

<div class="container">
    <div class="row d-flex justify-content-center align-items-center" style="height: 90vh;">
        <div class="col-4">
            <span>¡Algo salió mál!</span>
            <a class="btn btn-dark mt-5" asp-controller="Empleados" asp-action="Index">Regresar</a>
        </div>
    </div>
</div>